.main-navigation {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
	font-family: 'Poppins', sans-serif;
	font-size: $font-size-sm;
	@include media-breakpoint-up(md) {
		padding: ($navbar-padding-y * 3) $navbar-padding-x;
	}
}

.site-branding {
	@extend .navbar-brand;

	.site-description,
	.site-title {
		margin-bottom: 0;
	}

	.site-title {
		font-size: $navbar-brand-font-size;
	}

	.site-description {
		font-size: $font-size-base;
	}
	@include media-breakpoint-up(lg) {
		.site-description,
		.site-title {
			display: inline-block;
		}
	}
}

.navbar-nav {
	@extend .ml-auto;

	ul {
		@extend .dropdown-menu;
		right: 0;
		left: auto;

		ul {
			right: 100%;
			top: 0;
		}

		a {
			@extend .dropdown-item;
		}
	}

	.menu-item-has-children,
	.page_item_has_children {
		@extend .dropdown;

		> a {
			@include arrow();
		}
	}

	> li {
		@extend .nav-item;

		> a {
			@extend .nav-link;
		}
	}

	li {
		&.focus > ul,
		&:hover > ul {
			display: block;
		}
	}
}

.navbar-expand {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);

		&#{$infix} {
			@include media-breakpoint-down($breakpoint) {
				.navbar-nav {
					margin: 1rem 0;

					ul {
						margin: 0;
						padding: 0;
						margin-left: 1.5rem;
						border: 0;
						box-shadow: none;
					}

					li {
						&:not(:first-child) a {
							border-top: 1px solid transparent;
						}
					}

					.menu-item-has-children,
					.page_item_has_children {
						&.focus,
						&:hover {
							> a {
								@include arrow-up();
							}
						}
					}

					a {
						padding: 0.75rem 0;
					}
				}

				&.navbar-light {
					.navbar-nav {
						li {
							&:not(:first-child) a {
								border-top-color: $gray-100;
							}
						}
					}
				}

				&.navbar-dark {
					.navbar-nav {
						li {
							&:not(:first-child) a {
								border-top-color: $white;
							}
						}
					}
				}
			}
			@include media-breakpoint-up($next) {
				.navbar-nav {
					ul {
						.menu-item-has-children,
						.page_item_has_children {
							> a {
								@include arrow-left();

								&::after {
									float: right;
								}
							}
						}
					}
				}
			}
		}
	}
}

.navbar-light {
	.navbar-nav {
		.current-menu-ancestor > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current_page_item > a {
			color: $navbar-light-active-color;
		}
	}
}

.navbar-dark {
	.navbar-nav {
		.current-menu-ancestor > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current_page_item > a {
			color: $navbar-dark-active-color;
		}
	}
}

.comment-navigation,
.post-navigation,
.posts-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
