.main-navigation {}

.site-branding {
	@extend .navbar-brand;

	.site-description,
	.site-title {
		margin-bottom: 0;
	}

	.site-title {
		font-size: $navbar-brand-font-size;
	}

	.site-description {
		font-size: $font-size-base;
	}

	@include media-breakpoint-up(lg) {
		.site-description,
		.site-title {
			display: inline-block;
		}
	}
}

.menu {
	@extend .navbar-nav;

	ul {
		@extend .dropdown-menu;

		ul {
			left: 100%;
			top: 0;
		}

		a {
			@extend .dropdown-item;
		}
	}

	.page_item_has_children,
	.menu-item-has-children {
		@extend .dropdown;

		> a {
			@extend .dropdown-toggle;
		}
	}

	> li {
		@extend .nav-item;

		> a {
			@extend .nav-link;
		}
	}

	li {
		&:hover > ul,
		&.focus > ul {
			display: block;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
